/* ----------------------------------
   GLOBAL STYLES
---------------------------------- */
::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    /* Scrollable Things */
    -ms-overflow-style: none;
    scrollbar-width: none;

    height: 100%;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #22a0db 0%, #0347d7 100%);
    background-attachment: fixed;
    color: #1a1a1a;
}

h1, h2, h3 {
    font-family: 'Sora', sans-serif;
}

/* ----------------------------------
   HEADER
---------------------------------- */
.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    background: rgba(26, 31, 36, 0.7);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    transition: 0.25 ease;
}

.main-header.scrolled {
    background: rgba(10, 12, 16, 0.85);
    height: 70px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
    transition: 0.25s ease;
}

.main-header.scrolled .logo-text {
    font-size: 32px;
    transition: 0.25s ease;
}

.header-content {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 0;
}

.logo-text {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    transition: 0.25 ease;
}

/* NAVIGATION */
.header-nav ul {
    display: flex;
    list-style: none;
}

.header-nav li {
    margin-left: 20px;
}

.header-nav .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}

.header-nav .nav-link:hover,
.header-nav .nav-link:focus {
    color: #90e0ef;
    border-bottom-color: #90e0ef;
}

/* ----------------------------------
   LAYOUT
---------------------------------- */
.landing-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    padding-top: 180px;
}

/* ----------------------------------
   LANDING PAGE SECTION
---------------------------------- */
.landing-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 60px 40px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.landing-card {
    flex: 1;
    padding-right: 40px;
}

.landing-card h1 {
    font-size: 40px;
    line-height: 1.15;
    font-weight: 700;
    margin-bottom: 10px;
    color: #f1f4ee;
}

.landing-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #cdcdcd;
    text-align: justify;
    margin-right: 20px;
}

.virtual-machine {
    width: 300px;
    height: 200px;
    background: rgba(0, 0, 0, 0.1);
    border: 5px solid #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ----------------------------------
   CARDS
---------------------------------- */
.card-section {
    text-align: center;
}

.card-section h2 {
    font-size: 28px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    display: inline-block;
    color: #f1f4ee;
    border-bottom: 2px solid #eee;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 25px;
    color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.card h3 {
    font-size: 21px;
    font-weight: 700;
    color: #90e0ef;
    margin-bottom: 5px;
    text-align: start;
}

.card p {
    flex-grow: 1;
    font-size: 16px;
    line-height: 1.6;
    padding: 10px 0;
    color: #eee;
    text-align: left;
}

.card a.nav-link {
    display: inline-block;
    padding-top: 10px;
    color: #1d3557;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Sora', sans-serif;
    text-decoration: none;
    text-align: start;
}

.card a.nav-link:hover {
    color: #90e0ef;
}